<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Debtor</title>
    <link rel="stylesheet" href="/static/css/app.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-1rN2Nf/8KXf0X8nXod6u3n0J8wz9r0DUPQ5qHEM7xQ2iQ4Af5BgU984wgKLF6t5g"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="site-header">
      <h1 class="app-title">Debtor</h1>
    </header>
    <main id="content">
      {{ content }}
    </main>
  </body>
</html>
